/* -- Breakpoint (.bp1)
------------------------------------------------------------- */
@media only screen and (max-width: 30em) {

}

/* -- Breakpoint 2 (.bp2)
------------------------------------------------------------- */
@media only screen and (max-width: 48em) {

}

/* -- Breakpoint 3 (.bp3)
------------------------------------------------------------- */
@media only screen and (max-width: 60em) {

}